.content {
    max-width: min(112rem, 90%);
}
#room header {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#room header .buttons {
    display: flex;
}

#room header .buttons .button:nth-child(1){
    margin-right: 0.8rem;
    padding: 1.3rem 1.6rem;
}
#room header .buttons .button:nth-child(1) img{
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
}
#room header .buttons .button:nth-child(2) {
    padding: 0 3.2rem;
}
#room header .buttons .button:nth-child(2) img {
    width: 2rem;
    height: 2rem;
}
/* Question Form */

#question-form h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    color: var(--black);
    margin-bottom: 2.4rem;
    line-height: 4.2rem;
}
#question-form form {
    border: .2rem solid var(--grey-blue);
    border-radius: 0 .8rem .8rem .8rem;
    padding: 1.6rem;
}

#question-form form textarea {
    resize: none;
    background: none;
    outline: none;

    width: 100%;
}
#question-form form textarea::placeholder {
    color: var(--grey-blue)
}
#question-form form footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#question-form form footer > div {
    display: flex;
    align-items:  center;
    color: var(--icons-details);
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
}
#question-form form footer > div img {
    margin-right: .9rem;
}
#question-form form footer button {
    height: auto;
    padding: 0.8rem 2.4rem;
    line-height: 2.4rem;
}

/* QUESTIONS  */

#questions {
    margin-top: 1.6rem;
}
#questions .question-wrapper {
    background: var(--light-blue);
    border-radius: 0 .8rem .8rem .8rem;
    padding: 2.4rem;
    margin-bottom: 0.8rem;
}
#questions .question-content {
    display: flex;
    align-items: flex-start;
}

#questions .question-content .user{
    display: flex;
    background: var(--blue);
    clip-path: circle();
    margin-right: 1.6rem;
    padding: 1.4rem;
}

#questions .question p {
    display: flex;
    align-items: center;
    min-height: 5.2rem;
    font-family: 'Open Sans';
    font-weight: 400;
    color: var(--black);
    word-break: break-word;
}

#questions .actions {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    margin-top: 2.8rem;
}
#questions .actions a {
    align-items: center;
    margin-right: 2.4rem;
} 

#questions .actions a img {
    margin-right: 0.8rem;
    
}   
#questions .actions .check,
#questions .actions .delete {
    display: flex;
}

 /*  Question read */

 #questions .question-wrapper.read {
    background: var(--grey-medium);
}
#questions .question-wrapper.read .question-content .user {
    background: var(--grey-blue);
}

